body{
    margin: 0;

}
.jumbotron{
    background-image: url("../styles/download.jpeg");
    background-size: cover;
    margin-top: -20px;
    height: 600px;
    text-align: center;
    padding-top: 180px;
    color:black;
}